 <div class="main-page">        
        <div class="bread-crumb">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active"><a>{{"COMPANY.COMPANY_M" | translate}}</a></li>             
            </ol>
          </nav>
        </div>
      
        <mat-expansion-panel [expanded]="1" (opened)="setStep(0)" (closed)="panelOpenState = false" hideToggle>
          <mat-expansion-panel-header #panelH (click)="panelH._toggle()">
            <mat-panel-title class="d-flex justify-content-between align-items-center">
              <h5>{{"RIPORT.TITLE_FILTER" | translate }}</h5>
            </mat-panel-title>
            <mat-icon matTooltip="expand_more" *ngIf="!panelOpenState" (click)="panelH._toggle()">expand_more
            </mat-icon>
            <mat-icon matTooltip="expand_less" *ngIf="panelOpenState" (click)="panelH._toggle()">expand_less
            </mat-icon>
          </mat-expansion-panel-header>
      
          <form [formGroup]="searchFilterForm">
            <section>
              <div class="form-group">
                <div class="row mt-3">
                  <div class="col-md-6">
                    <label> {{"COMPANY.TH_COMPANY_NAME" | translate }} </label>
                    <mat-form-field appearance="outline" class="w-100">
                      <input matInput placeholder="Company Name" appInputRestriction
                      [formControl]="searchFilterForm.controls['companyName']" />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </section>
      
            <div class="exp-footer exp-footer-bg">
              <div></div>
              <div class="d-flex justify-content-end align-items-end">
                <button mat-flat-button class="btn-black" [disabled]="!searchFilterForm.dirty" (click)="filterSearch($event)">
                  {{"RIPORT.SUBMIT" | translate }} 
                </button>
                <button mat-flat-button class="btn-refresh w-button" (click)="clearForm()">
                  Reset
                </button>
              </div>
            </div>
          </form>
        </mat-expansion-panel>
      
        <mat-expansion-panel [expanded]="1" (opened)="setStep1(0)" (closed)="panelOpenState1 = false" hideToggle>
          <mat-expansion-panel-header #panelH1 (click)="panelH1._toggle()">
            <mat-panel-title class="d-flex justify-content-between align-items-center">
              <h5>{{ "COMPANY.COMPANY_LIST" | translate }}</h5>
              <div class="head-icons">
                <a [routerLink]="['company/add']" matTooltip="Add Company"><i class="fa fa-plus" aria-hidden="true"></i></a>
              </div>
            </mat-panel-title>
            <mat-icon matTooltip="expand_more" *ngIf="!panelOpenState1" (click)="panelH1._toggle()">expand_more
            </mat-icon>
            <mat-icon matTooltip="expand_less" *ngIf="panelOpenState1" (click)="panelH1._toggle()">expand_less
            </mat-icon>
          </mat-expansion-panel-header>
          <section>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">{{ "COMPANY.TH_NO" | translate }}</th>
                    <th (click)="sortData('CompanyName')" scope="col">{{ "COMPANY.TH_COMPANY_NAME" | translate }} <i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th (click)="sortData('BuildingName')" scope="col">{{ "COMPANY.TH_BUILDING_PERSON" | translate }} <i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th (click)="sortData('floor')" scope="col">{{ "COMPANY.TH_FLOOR" | translate }} <i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th (click)="sortData('ContactPerson')" scope="col">{{ "COMPANY.TH_CONTACT_PERSON" | translate }} <i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th (click)="sortData('UnitNo')" scope="col">{{ "COMPANY.TH_UNIT_NUMBER" | translate }} <i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th (click)="sortData('ContactNo')" scope="col">{{ "COMPANY.TH_CONTACT_NUMBER" | translate }} <i class="fa fa-sort" aria-hidden="true"></i></th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody *ngIf="companyList">
                  <tr *ngFor="let company of companyList; let i = index">
                    <td>{{columnNumberPrefix + i+1}}</td>
                    <td>{{(company?.companyName) ? (company?.companyName) : 'N.A'}}</td>
                    <td>{{(company?.buildingName) ? (company?.buildingName) : 'N.A'}}</td>
                    <td>
                      {{ company?.floorName }}
                      <ul>
                        <li *ngFor="let floor of company?.floor">
                          {{ floor?.name }}
                        </li>
                      </ul>
                    </td>
                    <td>{{(company?.contactPerson) ? (company?.contactPerson) : 'N.A'}}</td>
                    <td>{{(company?.unitNo) ? (company?.unitNo) : 'N.A'}}</td>
                    <td>{{(company?.contactNo) ? (company?.contactNo) : 'N.A'}}</td>
                    <td>
                      <button class="btn btn-green text-success">
                        <mat-icon matTooltip="Edit" role="img" [routerLink]="['company/edit', company?.id]"
                          class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true"
                          data-mat-icon-type="font">edit</mat-icon>
                      </button>
                      <button class="btn btn-red text-danger" (click)="onDelete(company)">
                        <mat-icon matTooltip="Delete" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true"
                          data-mat-icon-type="font">delete</mat-icon>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
      
      
          <ng-container *ngIf="companyList.length">
            <pagination [paginationList]="pagination" [selectedPageLimit]="currentPageLimit" [currentPage]="currentPage"
            (onPageChange)="getPage($event)"
            [from]="columnNumberPrefix+1"
              [to]="companyList.length+columnNumberPrefix"
              [recordCount]="recordCount"
              [lastPage]="lastpage"
            >
          </pagination>
          </ng-container>
          <ng-container *ngIf="!companyList.length">
            <p>{{'PAGINATIONTEXT.NOTFOUND' | translate}} </p>
          </ng-container>
        </mat-expansion-panel>
      </div>
      