<div class="login-main">
  <div class="box">
    <div class="box2">
      <h1>Login</h1>
      <h5>Visitor Management Service Version 1.2</h5>
      <form [formGroup]="loginForm" class="border-none">
        <mat-form-field appearance="outline" class="w-100">
          <input matInput type="email" placeholder="Email" class="input-h" formControlName="email">
          <span class="icon-login">
            <!-- <mat-icon>person</mat-icon> -->
            <img class="icon-size" src="../../../assets/images/avatar.png">
          </span>
        </mat-form-field>
        <mat-error *ngIf="submitted && loginForm.controls['email'].errors">
         Email field is required
        </mat-error>

        <mat-form-field appearance="outline" class="w-100">
          <input matInput placeholder="Password" type="password" formControlName="password" class="input-h"
          [type]="hide ? 'password' : 'text'">
          <span class="icon-login">
            <!-- <mat-icon>lock</mat-icon> -->
            <img class="icon-size" src="../../../assets/images/password.png">            
          </span>
          <a class="eye-icon" (click)="hide = !hide"><mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></a>
        </mat-form-field>
        <mat-error *ngIf="submitted && loginForm.controls['password'].errors">
          Password field is required
         </mat-error>

      </form>

      <section class="example-section mt-3">
        <!-- <mat-checkbox class="example-margin" [(ngModel)]="isRememberMe"></mat-checkbox> -->
        <input type="checkbox" [(ngModel)]="isRememberMe" [ngModelOptions]="{standalone: true}">
        <label class="form-check-label">{{'LOGIN.REMEMBERME' | translate}}</label>
      </section>

      <div class="d-flex justify-content-between align-items-end mt-4 mb-4">
        <button mat-flat-button class="btn-blue" type="submit"  [disabled]="loginForm.invalid"
          (click)="logIn()">{{'LOGIN.NAME' | translate}}</button>
          <button mat-flat-button class="btn-blue">English</button>
          <!-- <button class="btn-blue" mat-flat-button [matMenuTriggerFor]="menu">{{'LOGIN.LANGUAGE' | translate}} <i class="fa fa-caret-down down-icon" aria-hidden="true"></i></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>English</button>
            <button mat-menu-item>Chinese</button>
          </mat-menu> -->

      </div>

      <div class="ForgotPass">
        <a href="/forgot-password">{{"LOGIN.FORGOTPASSWORD" | translate}}</a>
      </div>
    </div>
  </div>

</div>
<fullscreen-loading></fullscreen-loading>
<loading *ngIf="showLoader"></loading>