.main-page {
  background-color: var(--color-light-blue);
  border-radius: 1.5rem;
  padding: 1rem 2rem;

  @media (max-width: 798px){
    padding: 1rem 0rem;
  }
  @media (max-width: 576px){
    padding: 0;
    background-color: transparent;
  }
  .breadcrumb {
    & a,
    .active {
      color: var(--color-secondary);
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.5px;
    }
  }

  .main-div {
    background-color: var(--white);
    border-radius: 1rem;
    padding: 20px;
    box-shadow: 0px 4px 21px rgb(26 88 246 / 17%);
    @media (max-width: 576px){
      box-shadow: none;
      background-color: transparent;
      padding: 0px;
    }
    .admin-table {
      overflow: auto;
      @media (max-width: 991px) {
        overflow: auto;
        margin-top: 20px;
      }
      @media (max-width: 576px) {
        overflow: auto;
        margin-top: 20px;
      }
    }
    & table {
      & tr {
        height: 70px;
        border-radius: 1rem;

        & th {
          background: #edf0ff;
          font-size: 18px;
          font-weight: 600;
          text-align: left;
          color: #1a58f6;
          border: none;
          & .mat-icon {
            vertical-align: sub;
          }
        }
        & th:first-child {
          padding-left: 55px;
          border-radius: 0.8rem 0rem 0rem 0.8rem;
          @media (max-width: 1024px) {
            padding-left: 20px;
            text-align: left;
          }
          @media (max-width: 991px) {
            padding-left: 10px;
            text-align: justify;
          }
          @media (max-width: 798px) {
            padding-left: 20px;
            text-align: left;
            min-width: 170px;
          }
          @media (max-width: 425px) {
            padding-left: 20px;
            text-align: left;
          }
          @media (max-width: 375px) {
            padding-left: 18px;
            text-align: left;
          }
           @media (max-width: 320px) {
            padding-left: 20px;
            text-align: left;
           }
        }
        & th:nth-child(2) {
          // padding-left: 55px;
          border-radius: 0;
          @media (max-width: 1024px) {
            // padding-left: 10px;
            text-align: justify;
          }
          @media (max-width: 991px) {
           padding-left: 0px;
            text-align: left;
          }
          @media (max-width: 798px) {
            padding-left: 0px;
            text-align: left;
          }
          @media (max-width: 375px) {
            // padding-left: 5px;
              text-align: justify;
              min-width: 220px;
          }
           @media (max-width: 320px) {
            //  padding-left: 5px;
               text-align: justify;
           }
        }
        & th:nth-child(3) {
          padding-left: 6px;
          border-radius: 0;
          @media (max-width: 1024px) {
            padding-left: 10px;
            text-align: justify;
          }
          @media (max-width: 991px) {
            padding-left: 10px;
            text-align: justify;
          }
          @media (max-width: 798px) {
            padding-left: 10px;
            text-align: left;
           }
           @media (max-width: 575px) {
            min-width: 120px;
            padding-left: 10px;
            text-align: left;
          }
        }
        & th:last-child {
          // padding: 12px;
          border-radius: 0 0.8rem 0.8rem 0;
          text-align: left;
          padding-right: 0;
        }

        & td {
          border: none;
          color: var(--color-secondary);
          font-size: 16px;
          line-height: 24px;

          & img {
            box-shadow: 1px 6px 10px #969696;
            width: 42px;
            height: 42px;
            object-fit: cover;
            margin-right: 16px;
            margin-bottom: 10px;
          }
        }

        & td:first-child {
          padding-left: 55px;
          border-radius: 0.8rem 0rem 0rem 0.8rem;
          @media (max-width: 798px) {
            padding: 7px 0px 0px 15px;
          }
          @media (max-width: 1440px) {
            // padding-left: 20px;
          }
          @media (max-width: 1024px) {
            padding:5px 20px;
            // text-align: center;
            min-width: 180px;
          }
          @media (max-width: 578px) {
            min-width: 200px;
            text-align: left;
            padding-left: 20px;
          }
          @media (max-width: 425px) {
            min-width: 150px;
            padding-left: 23px;
            text-align: left;
          }
          @media (max-width: 325px) {
            min-width: 202px;
          }
        }
        & td:nth-child(2) {
          // padding-left: 10px;
          border-radius: 0;
          @media (max-width: 1024px) {
            // padding-left: 10px;
            text-align: left;
          }
          @media (max-width: 991px) {
            text-align: left;
            min-width: 300px;
          }
          @media (max-width: 798px) {
            padding: 11px 0px 0px 0px;
            text-align: left;
            min-width: 300px;
          }
        }

        & td:nth-child(3) {
          padding-left: 55px;
          border-radius: 0;
          @media (max-width: 1024px) {
            padding-left: 10px;
            text-align: justify;
          }
          @media (max-width: 991px) {
            padding-left: 10px;
            text-align: justify;
          }
          @media (max-width: 798px) {
            padding: 11px 0px 0px 0px;
            text-align: justify;
          }
          @media (max-width: 575px) {
            min-width: 120px;
            padding-left: 15px;
          }
        }

        & td:last-child {
          border-radius: 0;
          text-align: left;
          padding: 5px 0px 0px;
          min-width: 124px;
          @media (max-width:1024px) {
            // padding: 12px;
          }
          @media (max-width: 578px) {
            min-width: 120px;
            padding: 0px;
          }
          & button {
            margin: 0px 5px;
            border-radius: 10px;
            line-height: 0;
          }
          .btn-green {
            background-color: var(--btn-color-green);
          }
          .btn-red {
            background-color: var(--btn-color-red);
          }
          .btn-yellow {
            background-color: var(--btn-color-yellow);
          }
        }
      }

      & tr:nth-child(even) {
        background: var(--color-light-gray);
      }
    }

    .pagin-sel {
      & label {
        color: var(--black);
      }
      .select {
        border: none;
        background: var(--color-light-gray);
        border-radius: 5px;
        padding: 5px;
        margin-left: 5px;
      }
    }

    .navigation {
      ul {
        li {
          .page-link {
            border: none !important;
            background-color: orange;
          }
        }
      }
    }
  }

  .w-30 {
    width: 18rem;
    @media (max-width: 576px){
      width: 100%;
      padding-top: 20px;
    }
    @media (max-width: 991.98px) { 
      width: 50%;
      padding: 15px 5px 15px 15px;
    }
    @media (max-width: 798px){
      width: 40%;
      padding: 15px 5px 15px 15px;
    }
    @media (max-width: 425px){
      width: 100%;
      padding: 15px 0px 15px 0px;
    }
    @media (max-width: 375px){
      width: 100%;
      padding: 15px 0px 15px 0px;
    }
  }

  .admin-brdcmb {
    margin: 15px 0;
  }
}

.mr-5 {
  margin-right: 5px;
}

.adbtn {
  text-align: right;
  @media (max-width: 575.98px){
    padding-top: 20px;
  } 
  @media (max-width: 798px){
    text-align: left;
    padding: 15px 7px 15px 0px;
    display: flex;
  } 
  @media (max-width: 1024px){
    padding: 0px 7px 15px 0px;
    width: 200px;
    display: flex;
  } 
  @media (max-width: 991.98px) {
    text-align: left;
    padding: 15px 0px 0px 0px;
    display: flex;
  }
  @media (max-width: 425px) {
    padding: 15px 0px 15px 0px;
  }
  @media (max-width: 375px) {
    padding: 15px 0px 15px 0px;
    display: block;
  }
  @media (max-width: 320px) {
    padding: 15px 0px 15px 0px;
    display: block;
  }
  .mat-raised-button {
    width: 220px;
    height: 48px;
    box-shadow: 0px 4px 21px rgba(26, 88, 246, 0.49);
    border-radius: 10px;
    margin-left: 15px;
    background-color: var(--color-primary);
    color: var(--white);
    @media (max-width: 578px) {
      width: 100%;
      margin: 0;
      height: 50px;;
    }
    @media (max-width: 798px){
      width: 78%;
      margin-right: 5px;
    }
    @media (max-width: 425px){
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
    }
    @media (max-width: 375px){
      width: 100%;
      margin-top: 10px;
      margin-left: 0;
    }
    & a {
      color: var(--white);
      text-decoration: none;
    }
  }

  .mat-stroked-button {
    height: 48px;
    width: 200px;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    margin-left: 5px;
    @media (max-width: 578px) {
      width: 100%;
      margin: 0;
      height: 50px;;
    }
    @media (max-width: 798px){
      width: 75%;
      margin-right: 5px;
    }
    @media (max-width: 425px){
      width: 47%;
    }
    @media (max-width: 375px){
      width: 100%;
      margin-bottom: 10px;
    }
    & a {
      color: var(--color-primary);
      text-decoration: none;
    }
  }
}

// responsive code start

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

.integration-checklist__copy-button {
  position: relative;

  &:before {
    content: "";
    display: none;
    position: absolute;
    z-index: 88888888;
    top: -9px;
    left: 15px;
    width: 0;
    height: 0;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(0, 0, 0, 0.72);
  }

  &:after {
    content: "Copy to Clipboard";
    display: none;
    position: absolute;
    z-index: 9999;
    top: -45px;
    left: -37px;
    width: 114px;
    height: 36px;

    color: #fff;
    font-size: 10px;
    line-height: 36px;
    text-align: center;

    background: rgba(0, 0, 0, 0.72);
    border-radius: 3px;
  }

  &:hover {
    background-color: #eee;

    &:before,
    &:after {
      display: block;
    }
  }

  &:active,
  &:focus {
    outline: none;

    &:after {
      content: "Copied!";
    }
  }
}
