      <div class="main-page">

        <div class="bread-crumb">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">{{"OTHERS.SETUP" | translate }}</a></li>
                  <li class="breadcrumb-item active" aria-current="page"><a href="#">{{"OTHERS.OTHER" | translate }}</a></li>
              </ol>
          </nav>
      </div>




        <div class="main-div">

          <mat-expansion-panel [expanded]="1" (opened)="setStep2(0)" (closed)="panelOpenState2 = false" hideToggle>
            <mat-expansion-panel-header #panelH2 (click)="panelH2._toggle()">
              <mat-panel-title class="d-flex justify-content-between align-items-center">
                <h5>{{"OTHERS.OTHER" | translate }}</h5>
              </mat-panel-title>

              <mat-icon matTooltip="expand_more" *ngIf="!panelOpenState2" (click)="panelH2._toggle()">expand_more
              </mat-icon>
              <mat-icon matTooltip="expand_less" *ngIf="panelOpenState2" (click)="panelH2._toggle()">expand_less
              </mat-icon>
            </mat-expansion-panel-header>
            <div class="padding-main">
            <form
            [formGroup]="addForm"
            class="pt-1 row justify-content-between" >
            <!-- logDays -->
            <div class="form-group w-45 input-fildcl">
              <label class="control-label">Log Days</label>
              <div class="">
                <mat-form-field appearance="outline" class="w-100">
                  <input
                    matInput  min="1"
                    onlyNumbers appInputRestriction (paste)="$event.preventDefault()"
                    [formControl]="addForm.controls['logDays']"
                    placeholder="Log Days"
                  />
                </mat-form-field>
                <mat-error *ngIf="submitted && addForm.controls['logDays'].errors">Log Days 
                  {{ "VALIDATE.ERROR9" | translate }}
                </mat-error>
              </div>
            </div>

            <!-- reports -->
            <div class="form-group w-45 input-fildcl">
              <label class="control-label">Reports</label>
              <div class="">
                <mat-form-field appearance="outline" class="w-100">
                  <input
                    matInput  min="1" onlyNumbers appInputRestriction 
                    (paste)="$event.preventDefault()"
                    [formControl]="addForm.controls['reports']"
                    placeholder="Reports"
                  />
                </mat-form-field>
                <mat-error *ngIf="submitted && addForm.controls['reports'].errors">Reports 
                  {{ "VALIDATE.ERROR9" | translate }}
                </mat-error>
              </div>
            </div>

             <!-- entryMode -->
             <div class="form-group w-45 input-fildcl">
              <label class="control-label">Entry Mode</label>
              <div class="">

                <mat-form-field appearance="outline" class="w-100">
                  <mat-select matNativeControl required placeholder="Entry Mode" [formControl]="addForm.controls['entryMode']">
                    <mat-option  value="on"> Single Entry Mode </mat-option>
                    <mat-option value="off"> Multiple Entry Mode </mat-option>
                  </mat-select>
                </mat-form-field>


                <!-- <mat-form-field appearance="outline" class="w-100">
                  <input
                    matInput
                    [formControl]="addForm.controls['entryMode']"
                    placeholder="Entry Mode"
                  />
                </mat-form-field> -->
                <mat-error *ngIf="submitted && addForm.controls['entryMode'].errors">Entry Mode 
                  {{ "VALIDATE.ERROR9" | translate }}
                </mat-error>
              </div>
            </div>

             <!-- termsAndConditions -->
             <div class="form-group w-45 input-fildcl">
              <label class="control-label">Terms And Conditions</label>
              <div class="">

                <mat-form-field appearance="outline" class="w-100">
                  <textarea  rows="4" appInputRestriction
                  [formControl]="addForm.controls['termsAndConditions']"
                  placeholder="Terms And Conditions"
                   matInput ></textarea>

                </mat-form-field>

                <!-- <mat-form-field appearance="outline" class="w-100">
                  <input
                    matInput
                    [formControl]="addForm.controls['termsAndConditions']"
                    placeholder="Terms And Conditions"
                  />
                </mat-form-field> -->
                <mat-error *ngIf="submitted && addForm.controls['termsAndConditions'].errors">Terms And Conditions 
                  {{ "VALIDATE.ERROR9" | translate }}
                </mat-error>
              </div>
            </div>

          </form>
          <div class="d-flex justify-content-end margin-y">
            <button class="btn-blue" type="submit" [disabled]="!addForm.dirty" mat-flat-button (click)="submitForm()">{{'COMMON.SUBMIT' | translate}}</button>
            <button class="w-button" type="button" mat-flat-button (click)="reset()">{{"OTHERS.RESET_BUTTON" | translate }}  </button>
          </div>
          </div>
            </mat-expansion-panel>


        </div>
      </div>

