<section class="side_container">
  <div class="container-fluid">
    <div class="main-page">
      <div class="main-div padding-x">
        <div class="d-flex justify-content-between">
        </div>
        <div class="d-flex justify-content-between">
        </div>
        <form [formGroup]="addForm" class="pt-1 row justify-content-between">
          <hr />
          <!-- name -->
          <div class="form-group w-45 input-fildcl">
            <label class="control-label">{{'TH_FRSM.TH_NAME' | translate}}</label>
            <div class="">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput [formControl]="addForm.controls['name']" placeholder="Name" />
              </mat-form-field>
              <mat-error *ngIf="submitted && addForm.controls['name'].errors">Name
                {{ "VALIDATE.ERROR9" | translate }}
              </mat-error>
              <mat-error *ngIf="addForm.get('name')?.errors?.pattern">
                Invalid Input Data
              </mat-error>
            </div>
          </div>

              <!-- Building Name -->
            <div class="form-group w-45 input-fildcl">
              <label class="control-label">Building Name</label>
              <div class="inpu-t">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-select
                    placeholder="Building Name"
                    [formControl]="addForm.controls['buildingName']"
                    [(ngModel)]="selected" 
                  >
                    <mat-option
                      *ngFor="let building of buildingList;let i=index"
                      [value]="building?.buildingName"
                      (click)="onselectBuilding(building)"
                    >
                      {{ building?.buildingName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-error *ngIf="submitted && addForm.controls['buildingName'].errors">Building Name
                  {{ "VALIDATE.ERROR9" | translate }}
                </mat-error>
              </div>
            </div>

          <!-- floorName -->
          <div class="form-group w-45 input-fildcl">
            <label class="control-label">{{'TH_FRSM.TH_FLOOR'| translate}}</label>
            <div class="">
              <mat-form-field appearance="outline" class="w-100">
                <mat-select
                placeholder="Floor Name"
                [formControl]="addForm.controls['floor']">
                <mat-option
                  *ngFor="let flr of floor;let i=index" 
                  [value]="flr?.name"
                  (click)="selectFloor(flr,i);selectData(flr,'floor')"
                >
                  {{ flr?.name }}
                </mat-option>
              </mat-select>
              </mat-form-field>
              <mat-error *ngIf="submitted && addForm.controls['floor'].errors">Floor Name
                {{ "VALIDATE.ERROR9" | translate }}
              </mat-error>
              <mat-error *ngIf="submitted2 && addForm.controls['floor'].touched">
                No Floor For This Building Please Create
              </mat-error>
            </div>
          </div>

          <!-- qRcodeReader -->
          <div class="form-group w-45 input-fildcl">
            <label class="control-label">{{'TH_FRSM.TH_QRCODE'| translate}}</label>
            <div class="">
              <mat-form-field appearance="outline" class="w-100">
                <mat-select placeholder="Select QR Code Reader" [formControl]="addForm.controls['qRcodeReader']">
                  <!-- <mat-option *ngFor="let qr of QRCodeList" [value]="qr?.name" (click)="selectData(qr,'QR')"> -->
                    <mat-option *ngFor="let qr of QRCodeList" [value]="qr?.name">
                    {{ qr?.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-error *ngIf="submitted && addForm.controls['qRcodeReader'].errors">QR Code Reader
                {{ "VALIDATE.ERROR9" | translate }}
              </mat-error>
            </div>
          </div>

          <!-- iO_Box -->
          <div class="form-group w-45 input-fildcl">
            <label class="control-label">{{'TH_FRSM.TH_IOBOX'| translate}}</label>
            <div class="">
              <mat-form-field appearance="outline" class="w-100">
                <mat-select placeholder="Select I/O Box" [formControl]="addForm.controls['iO_Box']">
                  <!-- <mat-option *ngFor="let ioBox of IOBoxList" [value]="ioBox?.name" (click)="selectData(ioBox,'ioBox')"> -->
                    <mat-option *ngFor="let ioBox of IOBoxList" [value]="ioBox?.name">
                    {{ ioBox?.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-error *ngIf="submitted && addForm.controls['iO_Box'].errors">IO-Box
                {{ "VALIDATE.ERROR9" | translate }}
              </mat-error>
            </div>
          </div>


        </form>
        <div class="d-flex justify-content-end margin-y">
          <button class="btn-black2" type="button" mat-flat-button (click)="back()">{{'COMMON.BACK' | translate}}</button>
          <button class="btn-blue" type="submit" [disabled]="!addForm.dirty || submitted2" mat-flat-button   (click)="submitForm()">{{'COMMON.SUBMIT' | translate}}</button>

        </div>
      </div>
    </div>
  </div>
</section>
