<div class="login-main">
  <div class="box">
    <div class="box2">
      <h1>{{'COMMON.RESET_PASSWORD'|translate}}</h1>
       <h5>
        <!-- Enter your registered email id to verify your email -->
       </h5>
      <form [formGroup]="resetPasswordForm" class="border-none">

        <mat-form-field appearance="outline" class="w-100">
          <input matInput placeholder="New password" [maxlength]="50"  [type]="hide ? 'password' : 'text'" formControlName="new_password" class="input-h">
          <mat-icon matSuffix class="eye-icon1" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <span class="icon-login">
            <img class="icon-size" src="../../../assets/images/password.png">
          </span>
          <!-- <mat-error *ngIf="resetPasswordForm.hasError('required', 'password')">
            Please enter your new password
          </mat-error> -->
        </mat-form-field>
        <ul class="ulDOt">
          <li>
            <mat-error *ngIf="
            resetPasswordForm.get('new_password').touched &&  (resetPasswordForm.get('new_password').hasError('hasSmallCase') ||
            resetPasswordForm.get('new_password').hasError('required'))
            ">
              <mat-icon>close</mat-icon>{{ "PROFILE-NEW.AT_LOWERCE" | translate }}</mat-error>

          </li>
          <li>
            <mat-error *ngIf="
            resetPasswordForm.get('new_password').touched && (resetPasswordForm.get('new_password').hasError('hasCapitalCase') ||
            resetPasswordForm.get('new_password').hasError('required'))
            ">
              <mat-icon>close</mat-icon>{{ "PROFILE-NEW.AT_UPPERCASE" | translate }}</mat-error>
          </li>
          <li>
            <mat-error *ngIf="
            resetPasswordForm.get('new_password').touched && (resetPasswordForm.get('new_password').hasError('minlength') ||
            resetPasswordForm.get('new_password').hasError('required'))
            ">
              <mat-icon>close</mat-icon>{{ "PROFILE-NEW.AT_CHARACTERS" | translate }}</mat-error>
          </li>
          <!-- <li>
            <mat-error *ngIf="
            addForm.get('new_password').touched &&  (addForm.get('new_password').hasError('hasNumber') ||
            addForm.get('new_password').hasError('required'))
            ">
              <mat-icon>close</mat-icon>{{ "PROFILE-NEW.AT_NUMBER" | translate }}</mat-error>
          </li> -->
          <li>
            <mat-error *ngIf="
            resetPasswordForm.get('new_password').touched && (resetPasswordForm.get('new_password').hasError('hasSpecialCharacters') ||
            resetPasswordForm.get('new_password').hasError('required'))
            ">
              <mat-icon>close</mat-icon>{{ "PROFILE-NEW.AT_SYMBOL" | translate }}</mat-error>
          </li>
            <!-- <li>
            <mat-error *ngIf="currentUser?.firstName == addForm.get('new_password').value">
              <mat-icon>close</mat-icon>{{ "PROFILE-NEW.USER_NAME" | translate }}</mat-error>
          </li> -->
        </ul>

        <mat-form-field appearance="outline" class="w-100">
          <input matInput placeholder="Confirm password" [maxlength]="50" [type]="hide1 ? 'password' : 'text'" formControlName="confirm_password" class="input-h">
          <mat-icon matSuffix class="eye-icon1" (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
          <span class="icon-login">
            <img class="icon-size" src="../../../assets/images/password.png">
          </span>

          <!-- <mat-error *ngIf="resetPasswordForm.hasError('notSame')">
            Passwords do not match
          </mat-error> -->
        </mat-form-field>
        <ul class="ulDOt">
          <li>
              <mat-error *ngIf="
              resetPasswordForm.get('confirm_password').touched &&  (resetPasswordForm.get('confirm_password').hasError('validatePassword') ||
              resetPasswordForm.get('confirm_password').hasError('required'))
              ">
              <mat-icon>close</mat-icon>{{ "PROFILE-NEW.PSWD_NOT_MATCHED" | translate }}</mat-error>
          </li>
          </ul>
        <div class="d-flex justify-content-between align-items-end mt-4 mb-4" >
          <button mat-flat-button class="btn-blue" *ngIf="!passwordexpired" type="submit" [disabled]="!resetPasswordForm.valid"
            (click)="resetPassword()">{{'COMMON.RESET'|translate}}</button>
          <button mat-flat-button class="btn-blue" (click)="back()">Cancel</button>
        </div>
      </form>


    </div>
  </div>

</div>
