<div class="login-main">
  <div class="box">
    <div class="box2">
      <h1>{{'COMMON.FORGOT_PASSWORD'|translate}}</h1>
      <h5>{{'COMMON.ENTER_EMAIL'|translate}}</h5>
      <form [formGroup]="forgotPasswordForm" class="border-none">
        <mat-form-field appearance="outline" class="w-100">
          <input matInput type="email" placeholder="Email" class="input-h" 
          [(ngModel)]="userObjectField" formControlName="email">
          <span class="icon-login">
            <!-- <mat-icon>person</mat-icon> -->
            <img class="icon-size" src="../../../assets/images/avatar.png">
          </span>
        </mat-form-field>

        <div class="d-flex justify-content-between align-items-end mt-4 mb-4">
          <button mat-flat-button class="btn-blue" type="submit" [disabled]="!forgotPasswordForm.valid"
            (click)="verify()">{{'COMMON.VERIFY'|translate}}</button>
          <button mat-flat-button class="btn-blue" (click)="back()">{{'COMMON.CANCEL'|translate}}</button>
        </div>

        <!-- <div class="ForgotPass">
          <a href="/forgot-password">{{"LOGIN.FORGOTPASSWORD" | translate}}</a>
        </div> -->
      </form>


    </div>
  </div>

</div>
<fullscreen-loading></fullscreen-loading>
<loading *ngIf="showLoader"></loading>