mat-expansion-panel {
  width: 100%;
  margin: 0 auto 15px;
  background-clip: border-box;
  border-radius: 0.25rem;

  mat-expansion-panel-header {
    background-color: var(--color-greenish);
    height: 64px;
    padding: 0 24px;
    border-radius: 0rem;


    &:hover {
      background-color: var(--color-greenish);
    }

    &:focus {
      background-color: var(--color-greenish);
    }

    h5 {
      margin-bottom: 0px;
      font-family: Roboto, "Helvetica Neue", sans-serif;
      font-size: 15px;
      font-weight: 600;
    }


    .head-icons {
      a {
        margin: 0px 6px;
        color: var(--black);

        &:hover {
          columns: var(--color-dark-black);
        }
      }

      .icon-color {
        color: var(--color-breadcrum-active);
      }
    }
  }

  section {
    padding: 25px 49px;

    table {
      margin-bottom: 0rem;
      @media (max-width: 768px) {
        width: 90em;
      }

      thead {
        border-bottom: 2px solid var(--color-gray);

        tr {
          th {
            vertical-align: middle;
          }
        }
      }

      tbody {

        tr {
          td {
            vertical-align: middle;

            .mat-icon-button {
              width: 30px;
              height: 30px;
              line-height: 30px;

              mat-icon {
                font-size: 18px;
              }
            }
          }
        }
      }


    }

    form {
      .form-group {
        margin-bottom: 20px;

        .form-control {
          background-color: transparent;
        }
      }
    }
  }

  mat-panel-description {
    justify-content: right;

  }


  .exp-footer-bg {
    background-color: var(--color-edxapnsion-header) !important;
  }

  .mb-16-px-2em {
    margin-bottom: 16px;
    padding: 0.5rem 2rem !important;
  }

  .exp-footer {
    // background-color: var(--color-greenish);
    padding: 0.5rem 1rem;
    // border-top: 1px solid var(--color-gray);
    border-radius: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .pagination {
      ul {
        margin-bottom: 0rem;
      }
    }

    .shwo-text {
      font-size: 12px;

      select {
        margin: 0px 10px;
      }
    }

    .page-item.active .page-link {
      background-color: var(--color-light-blue);
      border-color: var(--color-light-blue);
      color: var(--white);
    }

    .page-item {
      .page-link {
        color: var(--color-light-blue);
      }
    }
  }



  ::ng-deep .mat-expansion-panel-body {
    padding: 0px !important;
  }

  ::ng-deep .mat-expansion-indicator::after {
    margin-top: -9px;
  }

}




@media screen and (max-width: 767px) {
  .exp-footer {
    justify-content: center !important;
    flex-wrap: wrap;
  }

  mat-expansion-panel {
    section {
      padding: 15px 20px;
    }
  }

  .closetext-right {
    text-align: right;
  }

  .add-color {
    margin-right: 0px !important;
  }
}



.position-input {
  position: relative;
}

.down-input {
  position: absolute;
  right: 13px;
  top: 30px;
  width: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: var(--color-dark-gray);
  }
}


.switch-btn {
  ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: var(--color-primary);
  }

  ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: var(--white);
  }
}


.add-mult-btn {
  min-width: auto;
  padding: 0px 10px;

  mat-icon {
    font-size: 20px;
    line-height: 25px;
  }

  &:hover {
    opacity: 0.8;
  }
}

.add-color {
  margin-right: 21px;
  background-color: var(--color-breadcrum-a);
  color: var(--white);
}

.mult-color {
  background-color: var(--color-destructive);
  color: var(--white);
}

.add {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .add-mult-btn {
      min-width: auto;
      padding: 0px 10px;

      mat-icon {
          font-size: 20px;
          line-height: 25px;
      }

      &:hover {
          opacity: 0.8;
      }
  }

  .add-color {
      background-color: var(--color-black2);
      color: var(--white);
      margin-right: 50em;

      &:hover{
          background-color: var(--color-blackhover);
        }
  }

}
