<div class="pagination-foo  mt-3">
  <div class="pagin-sel">
    <label class="" for="inlineFormSelectPref">Show</label>
    <select class="select" [(ngModel)]="selectedPageLimit" (change)="getPage(1,selectedPageLimit)">
      <option *ngFor="let p of PageLimit" [ngValue]="p">{{p}}</option>
    </select>
  </div>
  <nav aria-label="Page">
    <ul class="pagination mb-0">
      <li class="page-item" [ngClass]="{ disabled : currentPage === 1}">
        <a class="page-link border-0 d-flex  align-items-center prev" (click)="firstAndLast(1, selectedPageLimit)"><span
            class="material-icons">keyboard_double_arrow_left</span></a>
      </li>
      <li class="page-item" [ngClass]="{ disabled : currentPage === 1}">
        <a (click)="getPage(currentPage - 1,selectedPageLimit)"
          class="page-link border-0 d-flex  align-items-center prev">Prev</a>
      </li>
      <li class="page-item" *ngFor="let page of paginationList?.pages">
        <a (click)="currentPage != page ? getPage(page,selectedPageLimit):''" class="page-link border-0"
          [ngClass]="{ active: currentPage === page}"
          >{{page}}</a>
      </li>
      <li [ngClass]="{ disabled: currentPage === paginationList?.totalPages}" class="page-item">
        <a (click)="getPage(currentPage + 1,selectedPageLimit)"
          class="page-link border-0 d-flex align-items-center next">Next</a>
      </li>

      <li class="page-item" [ngClass]="{ disabled: currentPage === paginationList?.totalPages}">
        <a 
          class="page-link border-0 d-flex align-items-center next" (click)="firstAndLast(lastPage, selectedPageLimit)"> 
          <span class="material-icons">keyboard_double_arrow_right</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

<ng-container>
  <label class="mr-sm-2 pagination-label" for="inlineFormCustomSelect">{{'PAGINATIONTEXT.ENTRIES-TO' | translate}} {{'PAGINATIONTEXT.SHOWING' | translate}}
    {{from}} {{'PAGINATIONTEXT.TO'| translate}} {{to}} {{'PAGINATIONTEXT.OF'| translate}} {{recordCount}}
    {{'PAGINATIONTEXT.ENTRIES'| translate}}</label>
</ng-container>
