:root{
    --white: #fff;
    --black: #000;
    --color-primary: #248CCB;
    --color-secondary: #ED8021;
    --color-destructive: #d53e3e;
    --bg-orange:#eb6029;
    --dark-green:#016061;
    --green:#037a6c;
    --bg-gradient:linear-gradient(90deg, rgba(3,50,54,1) 0%, rgba(3,53,57,1) 35%, rgba(1,75,75,1) 100%);

    --btn-black:#303d3a;
    --btn-black-h:#192421;
    --btn-blue-color:#6c7fa6;
    --btn-blue-color-h:#4c618b;
    --btn-transparent:transparent;
    --btn-transparent-h:#cfd8bd;
    --input-line-color: #e0e0e0;



   --color-light-gray:#f1f1f1;
   --color-light-blue:#657eb1;
   --color-light-mid-blue:#6186d3;
   --color-lightBlue:#f6ffff;
   --color-gray:#b0b0b0;
   --color-dark-gray:#8f9d9e;
   --color-light-yellow:#fffff7;
   --color-linne:#e0e0e0;


   --color-breadcrum-bg: #fcfcf4;
   --color-breadcrum-a: #273423;
   --color-breadcrum-active: #578364;
   --color-main-page: #edfafa;

   --color-dark-black:#202d2a;
   --color-mat-green:#62777c;
   --color-black2:#394e53;
   --color-blackhover:#4f6970;
   
   --color-greenish:#eff3e7;
   --color-edxapnsion-header: #EFF3E5 ;
   --color-expansion-body: #fbfbfb;
   --scrollbar-tabel:#b9c8cc;
   --scrollbar-tabel--hover: #dbe2ce;
   --pagiantion-not-active: hsl(0, 37%, 97%);
   
  
}